* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: #4789a0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

main {
    padding: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

th {
    padding: 10px;
    background: #464646;
    color: #fff;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background: #e8e8e8;
}

.button-link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #40bbb2;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 8px 6px;
    width: 100%;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}